# PORT
PORT = 3000

# DATABASE
DB_HOST = 
DB_PORT = 3306
DB_USER = 
DB_PASSWORD = 
DB_DATABASE = 

# TOKEN
SECRET_KEY =

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = *
CREDENTIALS = true

# NODEMAILER
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SECURE=tls
MAIL_BCC=
MAIL_CC=

# AWS
AWS_KEY=
AWS SECRET=
AWS BUCKET=
AWS_S3_URL=
AWS_REGION=
